<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ollama + Flask Demo</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="home-flex">
    <h1>Ollama + Flask</h1>
    <h2>Escoge cual chatbot quieres usar</h2>
    <div class="chat-header">
      <button onclick="location.href='/safe_form'">Chatbot con medidas de seguridad</button>
      <button onclick="location.href='/vuln_form'">Chatbot sin medidas de seguridad</button>
    </div>
  </div>
</body>
</html>

